<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TheCollegeMithra</title>
 <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>
body {
    background: url(https://acadiacollege.ca/wp-content/uploads/2020/02/Acadia_College_Classroom-14-1800x1047.jpg)
                no-repeat center center fixed;
    background-size: 96%;
}
</style>
<body>
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="background-color:lightblue">
        <ul class="navbar-nav">
            <li><a class="navbar-brand" th:href="@{/home2}">Home</a></li>
    
             <li><a class="navbar-brand" th:href="@{/student}">Students</a></li>
             
             <li><a class="navbar-brand" th:href="@{/department}">Departments</a></li>
            
             <li><a class="navbar-brand" th:href="@{/staff}">Staff</a></li>
             
             <li><a class="navbar-brand" th:href="@{/logout}">LogOut</a></li>
        
         </ul>      
     </div> 
     
</nav>
</div>
</body>
</html>