<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Department Details</title>
<link rel="stylesheet"
 href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
 integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
 crossorigin="anonymous">
</head>
<body style="background-color:rgb(233, 232, 171)">
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="background-color:lightblue">
        <ul class="navbar-nav">
            <li><a class="navbar-brand" th:href="@{/home1}">Home</a></li>
    
             <li><a class="navbar-brand" th:href="@{/student}">Students</a></li>
             
             <li><a class="navbar-brand" th:href="@{/department}">Departments</a></li>
            
             <li><a class="navbar-brand" th:href="@{/staff}">Staff</a></li>
             
             <li><a class="navbar-brand" th:href="@{/logout}">LogOut</a></li>
        
         </ul>      
     </div> 
     
</nav>
</div>
<div class="container my-2" >
<h1>Department List</h1>
<a th:href="@{/showNewDepartmentForm}" class="btn btn-primary btn-sm mb-3">Add Department</a>

<table border="1"  class="table table-striped table-responsive-md">
<thead>
<tr><th>id</th>
<th>Department id</th>
<th>Department name</th>
<th>HOD Name</th>
<th>Total Students</th>
<th>Total Staff</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<tr th:each="department:${listDepartments}">
<td th:text="${department.id}"></td>
<td th:text="${department.departmentId}"></td>
<td th:text="${department.d_name}"></td>
<td th:text="${department.HODName}"></td>
<td th:text="${department.totalStaff}"></td>
<td th:text="${department.totalStudents}"></td>
<td><a th:href="@{/UpdateDepartment/{id}(id=${department.id})}" class="btn btn-primary ">Update</a>
<a th:href="@{/deleteDepartment/{id}(id=${department.id})}" class="btn btn-danger ">Delete</a></td>
</tr>
</table>
</div>
</body>
</html>