<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TheCollegeMithra</title>
 <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>
body {
    background: url(https://thumbs.dreamstime.com/b/graduation-cap-diploma-books-globe-stack-various-colour-pencils-cup-conceptual-illustration-isolated-white-background-36279036.jpg)
                no-repeat center center fixed;
    background-size: 45%;
}
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" style="background-color:lightgreen">
    <ul class="navbar-nav">
            <li><a class="navbar-brand" th:href="@{/home1}">Home</a></li>
            
             <li><a class="navbar-brand" th:href="@{/departments}">Departments</a></li>
    
             <li><a class="navbar-brand" th:href="@{/about}">About Us</a></li>
             
            <li><a class="navbar-brand" th:href="@{/contact}">Contact Us</a></li>
            
              <li><a class="navbar-brand" th:href="@{/logout}">LogOut</a></li>
          </ul>
        </div>
</nav>

  <h4 style="color: #3543fa " align="center" >WELCOME TO ABC ENGINEERING COLLEGE</h4>
</body>
</html>