<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ABCEC</title>
<link rel="stylesheet"
 href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
 integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
 crossorigin="anonymous">
</head>
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="background-color:lightblue">
        <ul class="navbar-nav">
            <li><a class="navbar-brand" th:href="@{/home1}">Home</a></li>
    
             <li><a class="navbar-brand" th:href="@{/student}">Students</a></li>
             
             <li><a class="navbar-brand" th:href="@{/department}">Departments</a></li>
            
             <li><a class="navbar-brand" th:href="@{/staff}">Staff</a></li>
             
             <li><a class="navbar-brand" th:href="@{/logout}">LogOut</a></li>
        
         </ul>      
     </div> 
     
</nav>
</div>
<body>
<body style="background-color: rgb(192, 192, 192)">

        <h2 style="color: #3543fa">WELCOME TO ABC ENGINEERING COLLEGE</h2>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwGJZoTp1uI5OuA3LEUxYmv-Fpv5KewWdYIw&usqp=CAU"  alt="college image" border="0" height="200px" width="300px">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6XEtOz9SzlnRmijyvOK6T--Zv6bYASm-L8A&usqp=CAU"  alt="college image" border="0" height="200px" width="300px">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2vjgOT7tv7XTBnPdN6BcniueJM_SASbHhZA&usqp=CAU"  alt="college image" border="0" height="200px" width="300px">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW8qNrrNskZFzZy1vHv4OVjOhpfU5I18T4HQ&usqp=CAU"  alt="college image" border="0" height="200px" width="300px"><br>
                 <h3 style="color: #4734f8">Advantages of ABC EC</h3>
                    <UL>
                       <li> Highly Qualified and Experienced Faculty.</li>
                        <LI>Latest laboratories with State of the art equipment.</LI>
                        <li>Free Internet Facility with 2 MBPS (1:1) Connectivity: E-class Rooms.</li>
                        <li>Spacious, Separate, Safe and Secured Hostels for Boys and Girls.</li>
                        <li>Uninterrupted power supply with two 125 kva Generators.</li>
                        <li>Bus Facility for Boys and Girls from & to all near by areas.</li>
                        <li>Research & Development Department supported by Industrial experts.</li>
                        <li>Spacious Library with Rich Collection & National, International Journals.</li>
                        <li>Digital Library with extraordinary collection of Tutorials & Journals.</li>
                        <li>Separate Advanced Communication Skills Lab.</li>
                        </UL>
                <p>India has the largest numbers of engineers as well as the largest number of engineering education institutes and infrastructure in the world.[citation needed] As of 2021, India annually produces fifteen lakh engineering graduates.[1] India's technical education infrastructure includes 2500 engineering colleges, 1400 polytechnics and 200 schools of planning and architecture.[1]

                    Of the hundred thousands engineering graduates produced every year, less than 5% of the engineers are produced by the pan-India national level autonomous institutes created by the acts of parliament, such as the Indian Institutes of Technology (IITs), National Institutes of Technology (NITs) and Indian Institutes of Information Technology (IIITs)[citation needed] The remaining over 90% of the engineering graduates are produced by the private and non-autonomous state level engineering education institutes which must obtain the approval from the regulatory authority All India Council for Technical Education (AICTE) to run such courses before they start admitting students.[1]
                    
                    <br>Most common engineering branches in Undergraduate are <b> Computer science and engineering, Electronics and Communication engineering, Electrical and electronic engineering, Mechanical engineering, Civil engineering and IT engineering.</p></b>
                    As well as an educational institution, the term can also refer, following its etymology, to any formal group of colleagues set up under statute or regulation; often under a Royal Charter. Examples are an electoral college, the College of Arms, a college of canons, and the College of Cardinals. Other collegiate bodies include professional associations, particularly in medicine and allied professions. In the UK these include the Royal College of Nursing and the Royal College of Physicians. Examples in the United States include the American College of Physicians, the American College of Surgeons, and the American College of Dentists. An example in Australia is the Royal Australian College of General Practitioners.
                   
</body>
</html>