<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home - TheCollegeMithra</title>

  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>
body {
    background: url(https://www.ecpi.edu/sites/default/files/online_18.png)
                no-repeat center center fixed;
    background-size: 100%;
     text-align:center;
     color:blue;
  
}

</style>
<body>
   <div class="container">
       <div> <h1>Welcome To The CollegeMithra</h1></div>
       <div>
        <h3><a th:href="@{/register}">Create new account</a></h3>
           <h3><a th:href="@{/login}">Student Login </a></h3>
           <h3><a th:href="@{/Admin_login}">Admin Login </a></h3>
        </div>
    </div> 
</body>
</html>