<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All Users - TheCollegeMithra</title>
<h1>Welcome to TheCollegeMithra</h1>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
   <div class="container">
   <div>
   <form th:action="@{/logout}" method="post">
   <p>Welcome <b> [[${#request.userPrincipal.principal.fullName}]]</b>
   </p>
   <input type="submit" value="Sign Out">
   </form>
   </div>
       <div> <h1>List of Users</h1></div>
       <div>
       <table class="table table-striped table-bordered">
       <thread class="thread-dark">
       <tr>
       <th>User ID</th>
        <th>E-mail</th>
         <th>First Name</th>
          <th>Last Name</th>
          </tr>
          </thread>
          <tbody>
          <tr th:each="user:${list_users}">
          <td th:text="${user.id}">User ID</td>
           <td th:text="${user.email}">E-mail</td>
            <td th:text="${user.fisrtName}">First Name</td>
             <td th:text="${user.lastName}">Last Name</td>
             </tr>
          </tbody>
       </table>
       </div>
    </div> 
</body>
</html> -->