<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Succeed - TheCollegeMithra</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>
body {
    background: url(https://i0.wp.com/www.techarp.com/wp-content/uploads/2021/03/MySejahtera-Verify-COVID-10-Registration.jpg?resize=960%2C480&ssl=1)
                no-repeat center center fixed;
    background-size: 80%;
}
</style>
<body>
   <div class="container">
       <div> <h2>You have Registered Successfully</h2>
       <h3><a th:href="@{/login}" >Login here</a></h3></div>
      
    </div> 
</body>
</html>