<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Details</title>
<link rel="stylesheet"
 href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
 integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
 crossorigin="anonymous">
</head>
<body style="background-color:lightblue">
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="background-color:lightblue">
        <ul class="navbar-nav">
            <li><a class="navbar-brand" th:href="@{/home1}">Home</a></li>
    
             <li><a class="navbar-brand" th:href="@{/student}">Students</a></li>
             
             <li><a class="navbar-brand" th:href="@{/department}">Departments</a></li>
            
             <li><a class="navbar-brand" th:href="@{/staff}">Staff</a></li>
             
             <li><a class="navbar-brand" th:href="@{/logout}">LogOut</a></li>
        
         </ul>      
     </div> 
     
</nav>
</div>
<div class="container my-2" >
<h1>Student List</h1>

<a th:href="@{/showNewStudentForm}" class="btn btn-primary btn-sm mb-3">Add Student</a>
<table border="1"  class="table table-striped table-responsive-md">
<thead>
<tr>
<th>id</th>
<th>Student id</th>
<th>Student name</th>
<th>Student gender</th>
<th>Student Joining Date</th>
<th>Student branch</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<tr th:each="student:${listStudents}">
<td th:text="${student.id}"></td>
<td th:text="${student.student_id}"></td>
<td th:text="${student.name}"></td>
<td th:text="${student.gender}"></td>
<td th:text="${student.joiningdate}"></td>
<td th:text="${student.branch}"></td>
<td><a th:href="@{/showFormForUpdateStudent/{id}(id=${student.id})}" class="btn btn-primary ">Update</a>
<a th:href="@{/deleteStudent/{id}(id=${student.id})}" class="btn btn-danger ">Delete</a></td>

</tbody>
</table>
</div>
</body>
</html>